.ball-shadow
{
  position:relative;
  display:block-inline;
  -webkit-animation: bs 2s cubic-bezier(1.000,0.440,0.840,1.000) infinite, bs 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
  width: 12em;
  height: .125em;
  border-radius: 50%;
  background-color: rgba(29, 95, 74, 0.25);
}

@-webkit-keyframes 'bs'
{
  0%{
    width:10em;
  }
  50%
  {
    background-color: rgba(0, 0, 0, 0.25);
    width:1em;
  }
  100%
  {
    width:10em;
  }
}
